<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="container">
 <img src="/images/logo.png" width="300" height="300">
<main>
    <div class="jumbotron">
        <p>Welcome to templating using EJS</p>
        <h1><%= data.end_time  %></h1>
        <h1><%= data.grade  %></h1>
        <h1><%= data.hidden  %></h1>
        <h1><%= data.response_headers  %></h1>
        <h1><%= data.scan_id  %></h1>
        <h1><%= data.score  %></h1>

    </div>


</main>


</body>
</html>
